    <!-- Category -->
    <section class="category">
        <div class="container">
            <div class="category-top row">
                <p>HOME</p>
                <p>&#10230;</p>
                <p>MAKE UP</p>
                <p>&#10230;</p>
                <p>NEW ARRIVALS</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="category-left">
                    <ul>
                        <li><a href="">MAKE UP</a>
                            <li>
                                <ul class="sub-category">
                                    <li><a href="#">NEW ARRIVALS</a></li>
                                    <li><a href="#">Office Chic</a></li>
                                    <li><a href="#">Indoor Fun</a></li>
                                    <li><a href="#">Beyond Trendy</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">LIPSTICK</a>
                                <ul class="sub-category">
                                    {{!-- <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li> --}}
                                </ul>
                            </li>
                            <li>
                                <a href="#">CUSHION</a>
                                <ul class="sub-category">
                                    {{!-- <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">Q##########</a></li> --}}
                                </ul>


                            </li>
                            <li>
                                <a href="#">POWDER</a>
                                <ul class="sub-category">
                                    {{!-- <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li> --}}
                                </ul>

                            </li>
                            <li>
                                <ul class="sub-category">
                                    {{!-- <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li>
                                    <li><a href="#">##########</a></li> --}}
                                </ul>

                            </li>
                        </li>
                        <li><a href="">SKIN CARE</a>

                        </li>
                        <li><a href="">SUNSCREEN</a>

                        </li>
                        <li><a href="">PERFUME</a>

                        </li>
                    </ul>
                </div>
                <div class="category-right">
                    <div class="category-header row">
                        <div class="category-header-label">
                            <p>NEW ARRIVALS</p>
                        </div>
                        <div class="category-header-item">
                            <button><span>FILTER</span>
                            <i class="fas fa-sort-down"></i>
                        </button>
                        </div>
                        <div class="category-header-item">
                            <select name="" id="">
                           <option value="">SORT</option>
                           <option value="">SORT PRICES DECREASE</option>
                           <option value="">SORT PRICES ASCENDING</option>
                       </select>
                        </div>
                    </div>
                    
                    <div class="category-content">
                        {{#each products}}
                        <div class="category-content-item">
                            <a href="/product/{{this.name}}">
                                <img src="{{this.image}}" alt="">                            
                            </a>
                            <a href="/product/{{this.name}}"></a>
                                <h4>{{this.name}}</h4>
                            </a>
                            <p>{{this.cost}} <sup>đ</sup> </p>
                        </div>
                        {{/each}}
                    </div>
                    

                    <div class="category-pagination row">
                        <div class="pagination">
                            <p>SHOW <span>24</span> SPC</p>
                        </div>
                        <div class="pagination">
                            <a href="">&#171;</a>
                            <a href="" class="active">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">4</a>
                            <a href="">&#187;</a>
                            <a href="">END</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- End Category -->